.result-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.result-heading {
  margin-bottom: 16px;
  font-weight: bold;
}

.result-field {
  margin-bottom: 8px;
}

body {
  background-color: rgb(110, 156, 198);
}

text